<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ai_ai_ai_podnobral_kondiciy"
        tools:targetApi="31">
        <activity
            android:name=".activity_garmony"
            android:exported="false" />
        <activity
            android:name=".activity_new_rooms"
            android:exported="false" />
        <activity
            android:name=".activity_family_evening"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_devices"
            android:exported="false" />
        <activity
            android:name=".activity_bathroom"
            android:exported="false" />
        <activity
            android:name=".activity_bedroom"
            android:exported="false" />
        <activity
            android:name=".activity_scenarios"
            android:exported="false" />
        <activity
            android:name=".activity_rooms"
            android:exported="false" />
        <activity
            android:name=".devices"
            android:exported="false" />
    </application>

</manifest>